@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* delete hotbar */
#hotbar{
    visibility: hidden;
}

.namGen {
  display: flex;
  align-items: center;
}

.namGen .bioInput {
  margin: 10px;
}

.namGen h2 {
  margin-right: 15px;
}

.rollable:hover, .rollable:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }

.header {
    display:flex;
    flex-direction: row;
}

.profileImg {
    margin-right : 20px;
}

.resources {
    display: grid;
    /* grid-column: span 2/span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr)); */
    gap: 10px;
    padding: 0;
    margin-bottom: 10px;
    grid-column: span 4/ span 2;
    grid-template-columns: repeat(4, minmax(0,1fr));
    background-color: rgba(124, 128, 124, 0.2);
    padding: 10px;
}

.resourcesItem {
    display: grid;
    grid-column: span 3/span 1;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    padding: 0;
    margin-bottom: 10px;
    background-color: rgba(124, 128, 124, 0.2);
    padding: 10px;
}

.skills {
    display: grid;
    grid-column: span 6/span 3;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 10px;
    padding: 0;
    background-color: rgba(124, 128, 124, 0.2);
    padding: 10px;
}

.skill {
    display: flex;
    align-items: center;
    align-content: baseline;
    width: 130px;
}

label {
    margin-top: 5px;
    font-weight: bold;
}

.resources-content {
    display: flex;
    align-items: first baseline;
    align-content: center;
}

.resources-devider {
    font-size: 20px;
    margin: 0px 5px 0px;
}

.sheet-tabs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

.actionSetRow1 {
    display: flex;
    align-content:stretch;
}

.actionSetRow1 h1 h3{
  margin: 0 20px 0;
}

.actionImage {
    width: 100px;
    height: 100px;
    background-color: rgba(124, 128, 124, 0.2);
    margin: 0 20px 0;
}

.actionSetItem, .actionSetSecond {
  margin-left: 5%;
}

.actionSetItem section {
  display: flex;
  align-content: space-around;
}

.item-img {
    width: 90px;
    height: 90px;
    margin-right : 10px;
}

.description {
    height: 90px;
}

label {
    margin-right: 2px;
}

textarea {
    font-family: inherit;
}

input[type = checkbox] {
    margin-right: 10px;
}

.under {
    display: flex;
    align-items: stretch;
    align-content: center;
}

.roll-options {
    display: flex;
    flex-direction: column;
}

.flexrow {
  display: flex;
}

.actionSet {
  display: flex;
}

.items-list input {
  margin: 0 10px 0;
}

.checks-roll-options {
    display: flex;
}

.gop .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
  }
  .gop .items-header > * {
    font-size: 14px;
    text-align: center;
  }
  .gop .items-header .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gop .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #444;
  }
  .gop .items-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .gop .items-list .item-name {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gop .items-list .item-name h3, .gop .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .gop .items-list .item-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .gop .items-list .item-controls a {
    font-size: 12px;
    text-align: center;
    margin: 0 6px;
  }
  .gop .items-list .item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
  }
  .gop .items-list .item:last-child {
    border-bottom: none;
  }
  .gop .items-list .item .item-name {
    color: #191813;
  }
  .gop .items-list .item .item-name .item-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    background-size: 30px;
    border: none;
    margin-right: 5px;
  }
  .gop .items-list .item-prop {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
  }
  .gop .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
  }
  .gop .items-list .items-header > * {
    font-size: 12px;
    text-align: center;
  }
  .gop .items-list .items-header .item-name {
    padding-left: 5px;
    text-align: left;
  }
  .gop .item-formula {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    padding: 0 8px;
  }
  .gop .effects .item .effect-source,
  .gop .effects .item .effect-duration,
  .gop .effects .item .effect-controls {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
  }
  .gop .effects .item .effect-controls {
    border: none;
  }