@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* delete hotbar */
#hotbar{
    visibility: hidden;
}



.rollable:hover, .rollable:focus, .item:hover {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }

.header {
    display:flex;
    flex-direction: row;
}

.profileImg {
    margin-right : 20px;
}

.resources {
    display: grid;
    grid-column: span 2/span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    padding: 0;
    margin-bottom: 10px;
    grid-column: span 4/ span 4;
    grid-template-columns: repeat(4, minmax(0,1fr));
    background-color: rgba(124, 128, 124, 0.2);
    padding: 10px;
}

.skills {
    display: grid;
    grid-column: span 6/span 3;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 10px;
    padding: 0;
    background-color: rgba(124, 128, 124, 0.2);
    padding: 10px;
}

.skill {
    display: flex;
    align-items: center;
    align-content: baseline;
    width: 130px;
}

label {
    margin-top: 5px;
    font-weight: bold;
}

.resources-content {
    display: flex;
    width: 90px;
}

.resources-devider {
    font-size: 20px;
    margin: 0px 5px 0px;
}

.sheet-tabs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

