<form>
    <section>
        <div class="actionSetRow1">
            <a class="resources-devider rollable">
                Primary
            </a>

            <a class="resources-devider rollable">
                Secondary
            </a>

            <a class="resources-devider rollable">
                Items
            </a>

            <div>
                {{#with system.actionSet.weapons.primary as |find|}}
                {{#with (lookup ../items [find])~}}
                <h3>{{this.name}}</h3>
                <div class="actionImage" data-item-id="item.id">
                    <a class="rollable" data-roll="{{this.system.formula}}" data-label="{{this.system.flair}}"
                        data-from="{{this.type}}">
                        <img src="{{this.img}}" title="{{this.name}}" width="100px" height="100px">
                    </a>
                </div>
                {{/with}}
                {{/with}}
            </div>

            <div>
                {{#with system.actionSet.weapons.secondary as |find|}}
                {{#with (lookup ../items [find])~}}
                <h3>{{this.name}}</h3>
                <div class="actionImage" data-item-id="item.id">
                    <a class="rollable" data-roll="{{this.system.formula}}" data-label="{{this.system.flair}}"
                        data-from="{{this.type}}">
                        <img src="{{this.img}}" title="{{this.name}}" width="100px" height="100px">
                    </a>
                </div>
                {{/with}}
                {{/with}}
            </div>
            <div class="flexrow">
                <div>
                    {{#with system.actionSet.items.slot1 as |find|}}
                    {{#with (lookup ../items [find])~}}
                    <h3>{{this.name}}</h3>
                    <div class="actionImage" data-item-id="item.id">
                        <a class="rollable" data-roll="{{this.system.formula}}" data-label="{{this.system.flair}}"
                            data-from="{{this.type}}">
                            <img src="{{this.img}}" title="{{this.name}}" width="100px" height="100px">
                        </a>
                    </div>
                    {{/with}}
                    {{/with}}
                </div>
                <div>
                    {{#with system.actionSet.items.slot2 as |find|}}
                    {{#with (lookup ../items [find])~}}
                    <h3>{{this.name}}</h3>
                    <div class="actionImage" data-item-id="item.id">
                        <a class="rollable" data-roll="{{this.system.formula}}" data-label="{{this.system.flair}}"
                            data-from="{{this.type}}">
                            <img src="{{this.img}}" title="{{this.name}}" width="100px" height="100px">
                        </a>
                    </div>
                    {{/with}}
                    {{/with}}
                </div>
                <div>
                    {{#with system.actionSet.items.slot3 as |find|}}
                    {{#with (lookup ../items [find])~}}
                    <h3>{{this.name}}</h3>
                    <div class="actionImage" data-item-id="item.id">
                        <a class="rollable" data-roll="{{this.system.formula}}" data-label="{{this.system.flair}}"
                            data-from="{{this.type}}">
                            <img src="{{this.img}}" title="{{this.name}}" width="100px" height="100px">
                        </a>
                    </div>
                    {{/with}}
                    {{/with}}
                </div>
            </div>


        </div>
    </section>
</form>